
*.iml
config/prod.env
prod.env
var

.idea/
.idea/*

/services/api/src/coverage/
/node_modules/
/services/webapp/package-lock.json
services/api/package-lock.json
services/webapp/debug.log
config/dev.env
services/api/package-lock.json
services/webapp/debug.log
**/public/workbox-*.js
**/public/sw.js
**/public/worker-*.js
