
*.iml
config/prod.env
prod.env
var

.idea/
.idea/*
.DS_Store
/services/api/src/coverage/
/node_modules/
services/webapp/debug.log
config/dev.env
services/webapp/debug.log
**/public/workbox-*.js
**/public/sw.js
**/public/worker-*.js
