.width500 {
    width: 650px;
}

.palmaresDate {
    width: 400px;
    padding: 0px !important;
    margin:0px;
}
.vertical-timeline {
    padding:20px
}
.vertical-timeline-element {
    margin:10px
}
.vertical-timeline-element-content {
    height: 120px;
    cursor: pointer;
    padding:10px;
}
.vertical-timeline-element-icon {
    left: -20px;
}
.vertical-timeline-element-title {
    margin:0px;
    padding:0px;
}

.vertical-timeline-element-subtitle {
    margin:0px;
    padding:0px
}
.vertical-timeline-element-date {
    margin:0px;
    padding:0px;
}
